<div id="map" #map></div>

<div class="floating-range p-2"> 
  <div class="floating-content">
    <button class="btn btn-primary" (click)="zoomOut()"> - </button>
    <input type="range"
    [value]="zoom"
    class="form-range p-2"
    [min]="-2"
    [max]="18"
    (input)="doZoomChangeBar(zoomRef.value)"
    #zoomRef
    >
    <button class="btn btn-primary" (click)="zoomIn()"> + </button>
  </div>
  <span class="form-label">
    zoom: {{zoom | number:'2.2-2'}}
    <br>
    lng,lat: [ {{1}} ] 
  </span>
</div>